.item
  .card
    .card-header
      %strong 写真:
    = link_to post_path(post) do  
      .card-body
        - post.images.each_with_index do |image, index|
          - if index == 0
            = image_tag image.variant(resize_to_limit: [250, 250]).processed, class: 'image_message'
          -# = image_tag @post.image.url, class: 'image_message'
    .card-header
      %strong テキスト:
    .card-body
      %p.card-text= post.title


      -# = link_to post do
      -# = image_tag post.images.first.url if post.images.attached?
      -# .card-body
      -#   -# %h5.card-title= post.title
      -#   %p.card-text= post.content
  - if user_signed_in? && current_user.has_written?(@post)
    .card-footer
      = link_to '詳細', post, class: "btn btn-sm btn-primary"
      = link_to "編集", edit_post_path(post), class: "btn btn-sm btn-success"
      = button_to '削除',  post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger"
  - else
    = link_to '詳細', post, class: "btn btn-sm btn-primary" 
