.container
  %ul
    - @post.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @post, local: true, multipart: true) do |form|  
    = form.label :images
    = form.file_field :images, multiple: true
    

    = form.label :content
    = form.text_field :content

    = form.submit "投稿する"