!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    
    %display_meta_tags(default_meta_tags) 
    %title DWAT活動写真共有サイト
    %meta{name: 'description', content: 'ぐんまDWATの活動記録として画像を保存するサイト'}
    %meta{name: 'keywords', content: 'DWAT, ぐんまDWAT, 写真'}
    
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/



  %body
    %header.header
      .header_logos
        .header_pagetitle
          .pagetitle
            = link_to 'DWAT-post', root_path
        .header_right
          - if user_signed_in?
            .header_dropdown
              -# = image_tag current_user.avatar_image, class: 'header_avatar dropbtn'
              .dropdown-content
                
                = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
          - else
            = link_to 'ログイン', new_user_session_path, class: 'header_loginBtn'
    
    .sitetitle 
      %h1 DWAT活動写真共有サイト

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
  
  .footerWrap
    .footer 
      -# %P コピーライト2023
